@import url("https://fonts.googleapis.com/css?family=Roboto");
.container {
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
  font-family: 'Roboto', sans-serif;
  color: #66757f; }

* {
  transition: all 0.4s; }

.menu {
  padding: 15px 0;
  font-size: 18px;
  border-bottom: 1px solid #66757f; }
  .menu a {
    margin-right: 25px;
    transition: all 0.4s;
    display: inline-block; }
    .menu a:hover, .menu a.active {
      color: #1DA1F2;
      text-decoration: none; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

input {
  padding: 10px 0 0 0;
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #ccc; }
  input:focus {
    outline: none;
    border-color: black; }

table {
  width: 100%;
  margin: 10px 0;
  table-layout: fixed; }
  table thead {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.9);
    font-size: 16px; }
    table thead tr {
      background: rgba(203, 203, 203, 0.3);
      border-bottom: 2px solid #ccc; }
  table tbody tr {
    border-bottom: 1px solid #ccc; }
    table tbody tr:nth-child(even) {
      background: rgba(203, 203, 203, 0.1); }
    table tbody tr:hover {
      background: rgba(240, 245, 251, 0.3); }
    table tbody tr td {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }
  table td {
    padding: 10px 5px; }
    table td a {
      text-overflow: ellipsis;
      overflow: hidden;
      display: block; }
